<div class="main-container">
	<div class="centered-container">
		<div class="schools-container">
			<h1>Relationship Statuses</h1>
			 <%@relationship_frequencies.each do |status|%>
			 <div class="school-label">
			 	<%=status[0]%>
			 </div>
			 	<%if status[1] > 100%>
				 	<div class="school-bar grow" style="width:<%=(status[1] * 2.5)%>px; height:40px">
				 		<h4 class="bar-text"><%=status[1]%> friends / <%=(((status[1].to_f/@total_friends).round(2) * 100).round(0))%>% of your friends</h4>
				 	</div><br>
				<%else%>
					<div class="school-bar grow" style="width:100px; height:40px">
				 		<h4 class="bar-text"><%=status[1]%> / <%=(((status[1].to_f/@total_friends).round(2) * 100).round(0))%>%</h4>
				 	</div><br>
				<%end%>
			 <%end%>
		</div>
	</div>
</div>